* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    padding: 10px 40px;
    background-color: #385696;
    color: white;
    
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid pink;
}

.flex-box {
    display: flex;
    align-items: center;
    gap: 20px;
}
